@font-face {
  font-family: 'Shentox';
  src: local('Shentox'), url('./assets/font/Shentox\ W04\ Bold.ttf') format('truetype');
}

body {
  margin: 0;
  font-family: Shentox;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1493ff;
  background-image: radial-gradient(#0facfd 16%, #1493ff 100%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
